.nav-color {
  background-color:#212529;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
}

.footer-color {
  background-color: #212529;
  padding: 20px;
}

.body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.header {
  width: 100%;
  text-align: center;
}

.header h1{
  font-size: 4em;
  text-transform: uppercase;
}

.products {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card-product {
  position: relative;
  width: 350px;
  height: auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 40px;
  border-radius: 10px;
  transition: .3s;
}

.img-product {
  width: 100%;
  height: 60%;
  display: grid;
  place-items: center;
}

.img-product img {
  width: 240px;
}

.info-product{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info-product h3 {
  font-size: 1.3em;
  text-transform: capitalize;
}

.info-product span {
  font-size: 1.3em;
}

.info-product p {
  font-size: 18px;
  line-height: 25px;
}

.stars {
  display: flex;
  font-size: 1.3em;
  margin-right: 30px;
}

.btn-product {
  bottom: 20px;
  right: 20px;
}

.btn-cart {
  bottom: 20px;
}

.btn-product button:hover {
  transform: scale(1.1);
}

.btn-cart button:hover {
  transform: scale(1.1);
}

@media (max-width:768px){
  .main .center .searh{
    width: 500px;
  }
}

@media (max-width:583px){
  .main .center span{
    left: 44%;
    top:-52px;
  }
}

@media (max-width: 580px) {
  .main .center .search {
    width: 100%;
  }
  .main .center .links{
    display: none;
  }
  .main .top .fa {
    cursor: pointer;
    visibility: visible;
  }
}